.gallery-filter {
    padding: 2rem 1.5rem;
    background-color: var(--background-offwhite);
}

#filters {
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery-item {
    background-color: white;
    padding: 0.7rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
    user-select: none;
}

.gallery-item-active {
    background-color: var(--color-primary);
    color: white;
}

.gallery-item:hover:not(.gallery-item-active) {
    background-color: #e4e3e3;
}

#gallery {
    padding: 4rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    gap: 2rem;
}

#full-screen {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 101;
    display: none;
}

#full-image {
    position: absolute;
    width: 90%;
    height: 40vh;
    top: 30%;
    left: 5%;
    object-fit: cover;
    border-radius: 1rem;
}

#close-icon {
    position: absolute; 
    top: 24%;
    right: 6%;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

#close-icon:hover {
    color: #e4e3e3;
}

@media all and (min-width: 768px) {
    .gallery-filter {
        padding: 2rem 2.5rem;
    }

    #gallery {
        padding: 4rem 2.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    #full-image {
        width: 70%;
        height: 70%;
        top: 15%;
        left: 15%;
    }

    #close-icon {
        top: 9%;
        right: 16%;
    }
}

@media all and (min-width: 1200px) {
    #gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

