.g-card {
    padding: 1.5rem;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
    line-height: 1.6rem;
    transition: box-shadow 0.3s;
}

.g-card:hover {
    box-shadow: 0 15px 15px rgb(238, 237, 237);
}

.g-card-icon {
    color: var(--color-secondary);
    width: 2.2rem;
    height: 2.2rem;
}

.g-card-title {
    margin: 0.8rem 0;
    color: var(--color-primary);
    font-weight: 400;
}