/* Header address */

.header-address {
	width: 100%;
	margin: 0;
	background-color: var(--color-primary);
	color: white;
	font-style: normal;
	padding: 1rem 1.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.header-address p i {
	margin-right: 0.3rem;
}

.header-address .location {
	margin-left: auto;
	display: none;
}

/* Header */

header, header > nav > ul {
	display: flex;
	align-items: center;
}

header {
	background-color: white;
	width: 100%;
	color: #505a6a;
	padding: 1rem 1.5rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	justify-content: space-between;
	gap: 0.5rem;
}

.banner {
    display: flex;
	align-items: center;
    gap: 1rem;
}

.banner .logo {
	width: 60px;
	height: 60px;
	flex-shrink: 0;
}

.banner .logo img {
	width: 100%;
	height: 100%;
}

.name {
	font-size: 1.2rem;
	color: var(--color-primary);
	margin-bottom: 0.2rem;
}

.banner .brand p {
	font-weight: 300;
	font-size: 0.8rem;
	margin-top: 0.2rem;
	color: var(--text-color);
}

nav {
	display: none;
}

header > nav > ul {
	gap: 2rem;
}

.nav-links, .drop-menu-links {
	color: #505a6a;
	font-size: 1rem;
}

.nav-links {
	padding: 0.4rem 0;
}

.active-page {
	border-bottom: 2px solid var(--color-secondary);
	color: var(--color-primary);
}

#request {
	display: none;
}

#menu-bar {
	font-size: 1.5rem;
	margin-left: 0.5rem;
	cursor: pointer;
}

.drop-menu {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	height: 0;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
	transition: height 0.5s;
}

.drop-menu-active {
	border-top: 1px solid #ebe4e4;
}

.drop-menu > ul > li {
	margin: 1.5rem;
}

.drop-menu-links {
	width: 100%;
	padding: 0.5rem 0;
}

.drop-menu-links:hover, .nav-links:hover, .drop-menu-selected {
	color: var(--color-primary);
}

#drequest {
	padding: 0.7rem 1.3rem;
}

/* Footer */

footer {
    background-color: #101828;
    padding: 3rem 1.5rem;
}

footer, .footer-links {
    color: #f2f2f2;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-content > section {
    flex-grow: 1;
    padding: 0;
}

footer section h4 {
    color: white;
    margin-top: 0.4rem;
    font-size: 1.1rem;
}

.footer-desc{
    max-width: 430px;
    margin: 1rem 0;
}

.footer-desc, .copyright {
    line-height: 1.4rem;
}

footer section address {
    line-height: 1.7rem;
    font-style: normal;
}

footer section address i {
    color: var(--color-secondary);
    margin-right: 0.3rem;
}

footer ul {
    margin-top: 1.4rem;
}

footer ul li {
    margin-top: 0.9rem;
}

.footer-links {
    font-size: 1rem;
}

.footer-links:hover {
    color: var(--color-secondary);
}

hr {
    margin: 2rem 0;
    border: none;
    height: 1px;
    background-color: #364153;
}

.copyright {
    margin-top: 2rem;
}

@media all and (min-width: 768px) {
    .header-address .location {
		display: block;
	}

    header {
		padding: 1rem 2.5rem;
	}

	.drop-menu > ul > li {
		margin: 1.5rem 2.5rem;
	}

    footer {
        padding: 3rem 2.5rem;
    }

	.footer-content {
		flex-direction: row;
		gap: 3rem;
	}

	.footer-content > section:first-child {
    	flex-basis: 33%;
	}
}

@media all and (min-width: 1060px) {
	nav {
		display: block;
	}

	#request {
		display: inline-block;
	}

	#menu-bar, .drop-menu {
		display: none;
	}

	.nav-links, #request {
		font-size: 1.1rem;
	}
}