.services-placeholder {
    display: flex;
    flex-direction: column;
}

.services-placeholder {
    padding: 4rem 1.5rem;
    gap: 3rem;
}

.additional-services {
    background-color: var(--background-offwhite);
}

.additional-services-cont {
    margin: 3rem 0 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.additional-service-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem;
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
    line-height: 1.6rem;
    gap: 0.9rem;
}

.additional-service-card h4 {
    color: var(--color-primary);
    font-weight: 400;
}

.additional-service-card a {
    border: 1px solid #d4d4d4;
    padding: 0.3rem;
    border-radius: 0.4rem;
    color: #303030;
    font-size: 0.9rem;
}

.additional-service-card a:hover{
    background-color: #ebeaea;
}

.why-us {
    min-height: 330px;
    background-color: white;
}

.why-us-placeholder {
    margin: 3rem 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.why-us-placeholder > div {
    flex-grow: 1;
    flex-basis: 80%;
}

.why-us-placeholder > div {
    border: none;
    box-shadow: none;
    padding: 0;
}

.why-us-placeholder > div:hover {
    box-shadow: none;
}

@media all and (min-width: 768px) {
    .services-placeholder {
        padding: 4rem 2.5rem;
    }

    .additional-services-cont {
        grid-template-columns: repeat(2, 1fr);
    }

    .additional-service-card a {
        font-size: 1rem;
    }

    .why-us-placeholder > div {
        flex-basis: 30%;
    }
}

@media all and (min-width: 1000px) {
    .additional-services-cont {
        grid-template-columns: repeat(3, 1fr);
    }
}