<header>
	<div class="banner">
		<div class="logo">
			<img src="/assets/svg/logo.svg" alt="Caronno logo">
		</div>
		<div class="brand">
			<h1 class="name">Caronno Multi Servizi</h1>
			<p>Pulizia, Cura e Professionalità</p>
		</div>
	</div>
	<nav id="header-nav">
		<ul>
			<li><a class="nav-links" href="/index.html">Home</a></li>
			<li><a class="nav-links" href="/pages/about.html">Chi Siamo</a></li>
			<li><a class="nav-links" href="/pages/services.html">Servizi</a></li>
			<li><a class="nav-links" href="/pages/gallery.html">Gallery</a></li>
			<li><a class="nav-links" href="/pages/contact.html">Contatti</a></li>
		</ul>
	</nav>
	<a href="/pages/contact.html" id="request" class="c-btn main-btn">Richiedi Preventivo</a>
	<div id="menu-bar" class="fa-solid fa-bars"></div>
	<div class="drop-menu">
		<ul>
			<li><a class="drop-menu-links" href="/index.html">Home</a></li>
			<li><a class="drop-menu-links" href="/pages/about.html">Chi Siamo</a></li>
			<li><a class="drop-menu-links" href="/pages/services.html">Servizi</a></li>
			<li><a class="drop-menu-links" href="/pages/gallery.html">Gallery</a></li>
			<li><a class="drop-menu-links" href="/pages/contact.html">Contatti</a></li>
			<li><a class="drop-menu-links c-btn main-btn" href="/pages/contact.html" id="drequest">Richiedi Preventivo</a></li>
		</ul>
	</div>
</header>